<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>

<body>
    <form method="post" action="/posts">
        <label for="username">Username:
            <input type="text" placeholder="Enter Username" id="username" name="username">
        </label>
        <br><br>
        <label for="content">Description:
            <br>
            <textarea id="content" cols="30" rows="2" placeholder="Write Your Post" name="content"></textarea>
        </label>
        <br> <br>
        <button>Post</button>
    </form>
</body>

</html>