<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>this is home page</h1>
    <h2>
        <%= 'apnacollege' .toUpperCase() %>
    </h2>
    <h3>
        1 + 2 = <%= 1 + 2 %>
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, laudantium ab magnam nisi in porro fugiat
        odio impedit inventore provident ullam aliquam culpa. Non ex, fugit labore saepe temporibus eos.</p>
</body>

</html>